<div id="about"></div>
<div class="about">
	<p><span class="hi">Hi. My name is <span class="underline">Omar Komaykem</span>.</span><br><br>
	I'm a 26 years old interdisciplinary <span class="underline">visual designer</span> living in <span class="underline">Alexandria, Egypt</span>. I design, create and develop <span class="underline">3D graphics</span> and <span class="underline">visual effects</span>. If you want to know more about me, a copy of my <span class="underline">résumé</span> can be found <a class="cv" href="#resume">here</a>.
	</p>
</div>