<div>
	<div class="contact">
		<div class="email">
			<img src="/assets/img/social/Email.png" width="14">
			<a href="mailto:komaykem@gmail.com" class="link">komaykem@gmail.com</a>
		</div>
		<span class="footer">Copyright &copy; 2016 Komaykem</span>
		<ul class="social">
			<li class="vimeo"><a href="https://www.vimeo.com"><img src="/assets/img/social/Vimeo.png" width="18"></a></li>
			<!-- <li class="behance"><a href="https://www.behance.com"><img src="/assets/img/social/Behance.png" width="18"></a></li> -->
			<li class="twitter"><a href="https://www.twitter.com"><img src="/assets/img/social/Twitter.png" width="18"></a></li>
			<li class="facebook"><a href="https://www.facebook.com"><img src="/assets/img/social/Facebook.png" width="18"></a></li>
		</ul>
	</div>

</div>