<div id="work">
	<header>
		<p><span class="slash">/</span> WORK</p>
	</header>
	<section class="workmain">
		<div class="workitem">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<a href="#aster" class="sora1"></a>
		</div>
		<div class="workitem">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<a href="#robos" class="sora2"></a>
		</div>
		<div class="workitem">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<a href="#wires" class="sora3"></a>
		</div>
		<a href="#more" class="button">
			<span><span>+</span> SHOW ME MORE</span>
		</a>
	</section>
</div>

<div id="lightbox">
	<!-- <span class="close">X</span> -->
	<div class="limage"></div>
</div>