<div id="work" class="work-section">
	<ul>

		<li>
			<div class="work-item swap1">
				<img src="/assets/img/ico/1BW.jpg" class="BW1">
				<img src="/assets/img/ico/1.jpg" class="clr">
			</div>
		</li>

		<li>
			<div class="work-item swap2">
				<img src="/assets/img/ico/2BW.jpg" class="BW2">
				<img src="/assets/img/ico/2.jpg" class="clr">
			</div>
		</li>

		<li>
			<div class="work-item swap3">
				<img src="/assets/img/ico/3BW.jpg" class="BW3">
				<img src="/assets/img/ico/3.jpg" class="clr">
			</div>
		</li>

		<li>
			<div class="work-item swap4">
				<img src="/assets/img/ico/4BW.jpg" class="BW4">
				<img src="/assets/img/ico/4.jpg" class="clr">
			</div>
		</li>

		<li>
			<div class="work-item swap12">
				<img src="/assets/img/ico/12BW.jpg" class="BW12">
				<img src="/assets/img/ico/12.jpg" class="clr">
			</div>
		</li>

	</ul>
</div>

<div id="lightbox">
	<div class="limage"></div>
</div>