<div id="work">
	<header>
		<p><span class="slash">/</span> WORK</p>
	</header>
	<section class="workmain">

		<div class="workitem">
			<div class="swap1">
				<img src="/assets/img/aster.jpg" class="sora1">
				<img src="/assets/img/aster2.jpg" class="soraBW">
			</div>
			<div class="swap2">
				<img src="/assets/img/lokal.jpg" class="sora2">
				<img src="/assets/img/lokal2.jpg" class="soraBW">
			</div>
		</div>

		<div class="workitem">
			<div class="swap4">
				<img src="/assets/img/robos.jpg" class="sora4">
				<img src="/assets/img/robos2.jpg" class="soraBW">
			</div>
			<div class="swap3">
				<img src="/assets/img/wires.jpg" class="sora3">
				<img src="/assets/img/wires2.jpg" class="soraBW">
			</div>
		</div>
		<!-- <a href="#more" class="button">
			<span><span>+</span> SHOW ME MORE</span>
		</a> -->
	</section>
</div>

<div id="lightbox">
	<!-- <span class="close">X</span> -->
	<div class="limage"></div>
</div>