#about {
	width: 100%;
	height: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	font-size: 14px;
	/*padding: 0 80px;*/
}

.hi {
	font-family: 'Open Sans';
	/*font-size: 1.2em;*/
}

.underline {
	font-family: 'Open Sans';
	font-weight: 700;
	padding-bottom: 4px;
	/*border-bottom: 1px dotted #f0050a;*/
}

#about p {
	line-height: 1.4;
}