.contact {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	/*height: 60px;*/
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.email {
	display: flex;
	justify-content: center;
	align-items: center;
}

.email img {
	margin-right: 10px;
}

.link {
	font-family: 'Open Sans';
	font-size: 12px;
}

.link:hover {
	text-decoration: underline;
}

.social {
	display: flex;
	align-items: center;
}

.twitter, .facebook {
	margin-left: 20px;
}

.footer {
	display: none;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.4);
}