.headbar {
	width: 100%;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
	/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
	position: fixed;
	top: 0;
	left: 0;
}

.headbar header {
	width: 940px;
	height: 100px;
	/*border-bottom: 1px dotted #1c1c1c;*/
	/*display: flex;
	justify-content: space-between;
	align-items: center;*/
	margin: 0 auto;
}

.header-pos {
	/*position: fixed;
	top: 0;
	left: inherit;
	bottom: 0;*/
	width: 940px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 0 10px;*/
}

.logo {
	/*width: 173.6px;
	height: 33.33px;*/
	width: calc(55.2px * 0.9);
	height: calc(60px * 0.9);
	background-image: url('/assets/img/logo_new.svg');
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: contain;
}

.headbar li {
	display: inline;
	margin-left: 30px;
}

.headbar li:first-child {
	margin-left: 0;
}

.navnormal:link {
	color: #333;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 12px;
	padding-bottom: 6px;
	border-bottom: 3px solid transparent;
	transition: border-bottom-color 0.2s ease-in-out;
}

.navnormal:visited {
	color: #333;
}

.navnormal:hover {
	color: #333;
	border-bottom-color: #f0050a;
}

.emailme:link {
	width: 92px;
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 13px;
	color: white;
	background-color: #f0050a;
	border-radius: 4px;
	transition: background-color 0.2s ease-in-out;
}

.emailme:visited {
	color: white;
}

.emailme:hover {
	color: white;
	background-color: #333;
}