.headbar header {
	width: 100%;
	height: 120px;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 173.6px;
	height: 33.33px;
	background-image: url('/assets/img/logo.svg');
	background-repeat: no-repeat;
}

.headbar li {
	font-family: libertadmedium;
	font-size: 14px;
	display: inline;
	margin-left: 30px;
}