@import url("header.css");

@font-face {
    font-family: 'libertadbold';
    src: url('/assets/font/libertad-bold-webfont.eot');
    src: url('/assets/font/libertad-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/libertad-bold-webfont.woff2') format('woff2'),
         url('/assets/font/libertad-bold-webfont.woff') format('woff'),
         url('/assets/font/libertad-bold-webfont.ttf') format('truetype'),
         url('/assets/font/libertad-bold-webfont.svg#libertadbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libertadbook';
    src: url('/assets/font/libertad-book-webfont.eot');
    src: url('/assets/font/libertad-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/libertad-book-webfont.woff2') format('woff2'),
         url('/assets/font/libertad-book-webfont.woff') format('woff'),
         url('/assets/font/libertad-book-webfont.ttf') format('truetype'),
         url('/assets/font/libertad-book-webfont.svg#libertadbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libertadextrabold_italic';
    src: url('/assets/font/libertad-extrabolditalic-webfont.eot');
    src: url('/assets/font/libertad-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/libertad-extrabolditalic-webfont.woff2') format('woff2'),
         url('/assets/font/libertad-extrabolditalic-webfont.woff') format('woff'),
         url('/assets/font/libertad-extrabolditalic-webfont.ttf') format('truetype'),
         url('/assets/font/libertad-extrabolditalic-webfont.svg#libertadextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libertadlight';
    src: url('/assets/font/libertad-light-webfont.eot');
    src: url('/assets/font/libertad-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/libertad-light-webfont.woff2') format('woff2'),
         url('/assets/font/libertad-light-webfont.woff') format('woff'),
         url('/assets/font/libertad-light-webfont.ttf') format('truetype'),
         url('/assets/font/libertad-light-webfont.svg#libertadlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libertadmedium';
    src: url('/assets/font/libertad-medium-webfont.eot');
    src: url('/assets/font/libertad-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/libertad-medium-webfont.woff2') format('woff2'),
         url('/assets/font/libertad-medium-webfont.woff') format('woff'),
         url('/assets/font/libertad-medium-webfont.ttf') format('truetype'),
         url('/assets/font/libertad-medium-webfont.svg#libertadmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Open Sans', sans-serif;*/
	line-height: 1  ;
	color: black;
	list-style-type: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
}

.wrapper {
	width: 940px;
	height: 100vh;
	margin: 0 auto;
}