#work header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 16px;
	/*border-top: 1px dotted #1c1c1c;
	border-bottom: 1px dotted #1c1c1c;*/
	display: none;
}

.workmain {
	padding: 60px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.slash {
	color: #f0050a;
}

.workitem {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.workitem img {
	max-width: 40%x;
}

.workitem img:hover {
	cursor: pointer;
}

.button {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 206px;
	height: 60px;
	/*border: 1px dotted #1c1c1c;*/
	background-color: #f0050a;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 18px;
	color: white;
}

.button:hover {
	background-color: #f2282d;
	color: white;
}

.button:visited {
	color: white;
}

.button span {
	font-size: 18px;
	color: white;
}

.soraBW {
	display: none;
}

#lightbox {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	display: none;
	top: 0;
	left: 0;
}

.limage img, iframe {
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	background-color: white;
}